html {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQDnGluT90BdXbWFIYlrp5zj3b3no75VUeUKZv8X6S6_TtltUK);
}

.form-container {
  // margin: 25%;
  // // padding-right: 15rem;
  // text-align: left;
  // height: 100%;
  // display: inline-block;
  background-color: rgba(138, 85, 85, 0.568);
  margin: auto;
  margin-top: 10%;
  width: 40%;
  text-align: left;
  h2 {
    color: #000000;
    text-align: left;
    padding: 2rem;
  }
  h3 {
    color: #000000;
    text-align: left;
  }
  th {
    color: #000000;
    text-align: center;
    font-size: 25px;
  }
  a {
    padding: 2rem;
  }
  tr {
    text-align: center;
  }
}
.actions {
  padding: 1rem 1rem;
  width: 40%;
  display: flex;
  input {
    width: 200px;
    border: 1px solid #000000;
    background-color: whitesmoke;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
}
.btn-1 {
  width: 100%;
  padding: 0rem 1rem;
}
.btn-2 {
  width: 100%;
  margin: -80px 15rem;
}
.btn-1:hover {
  input {
    transition: 0.75s;
    background-color: black;
    color: white;
  }
  font-size: 20px;
  transition: 0.75s;
}
.btn-2:hover {
  input {
    transition: 0.75s;
    background-color: black;
    color: white;
  }
  font-size: 20px;
  transition: 0.75s;
}
.field {
  padding: 0rem 2rem;
}
